* {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
}
:hover {
  transition: 0.3s;
}
body {
  background: url(../img/bacground.png) no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}
.Journey {
  color: #ffffff;
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
}

header {
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.4);
  height: 58px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 79px;
}
.right_part_header {
  display: flex;
  gap: 27px;
}
.login-menu a,
span {
  text-decoration: none;
  color: #ffffff;
}
.vertical_line {
  background-color: rgba(255, 255, 255, 0.9);
  width: 1px;
  height: 19px;
  opacity: 0.5;
}
header a:hover {
  color: #3cb878;
}
.header_svg_link {
  box-sizing: border-box;
  width: 25px;
  height: 25px;
}
.right_part_header a:hover .header_svg path {
  fill: #3cb878;
  transition: 0.5s;
}
main {
  position: relative;
  height: 90%;
}
.container_form {
  height: 584px;
  width: 444px;
  box-sizing: border-box;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 31px 60px 38px;
}
.green_element {
  width: 18px;
  height: 18px;
  background-color: #3cb878;
  position: absolute;
  top: 29px;
  left: 0;
}
.nav_form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.nav_form h2 {
  font-size: 20px;
  color: rgba(67, 67, 67, 1);
}
.nav_form a {
  font-size: 14px;
  color: rgba(60, 184, 120, 1);
  text-decoration: none;
}
.btn_facebook,
.btn_google {
  width: 160px;
  height: 48px;
}
.btn_social {
  display: flex;
  justify-content: center;
  gap: 4px;
}
.btn {
  color: #ffffff;
  font-size: 16px;
  border: none;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btn_facebook {
  background-color: #305db8;
  padding: 0 22px 0 17px;
}
.btn_facebook:hover {
  background-color: #022263;
}

.btn_google {
  background-color: #df4a32;
  padding: 0 27px 0 12px;
}
.btn_google:hover {
  background-color: #ab1f09;
}
.btn_line {
  width: 1px;
  height: 28px;
}
.btn_facebook .btn_line {
  background-color: #0a162f;
  opacity: 0.1;
}
.btn_google .btn_line {
  background-color: rgba(43, 13, 9, 1);
  opacity: 0.1;
  margin-left: -11px;
}
.line_under_buttons {
  width: 152px;
  height: 1px;
  background-color: #f2f2f2;
}
.line_under_btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 31px 0 12px;
}
.line_under_btn p {
  font-size: 14px;
  color: #848484;
  margin: 0 2px 0 5px;
}
.input {
  width: 324px;
  height: 44px;
  box-sizing: border-box;
  border: 1px solid rgba(242, 242, 242, 1);
  color: #434343;
  font-size: 14px;
  padding: 14px 0 16px 20px;
  outline: none;
}
.inputs_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-bottom: 12px;
}

.input::placeholder {
  color: rgba(190, 190, 190, 1);
}
.input:focus {
 box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.21);
}

.agree_checkbox {
  box-sizing: border-box;
  height: 20px;
  font-size: 14px;
  color: #434343;
  margin-left: 30px;
  position: relative;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 3px;
}
.agree_checkbox a {
  text-decoration: none;
  color: #3cb878;
}
.agree_checkbox a:hover {
  text-decoration: underline;
  color: #01813f;
}

.agree_checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkbox {
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #f2f2f2;
  position: absolute;
  top: 0;
  left: -30px;
}
.checkmark {
  content: "";
  position: absolute;
  left: -26px;
  top: 2px;
  width: 15px;
  height: 16px;
  box-sizing: border-box;
  background-image: url("../img/checkmark.svg");
  background-size: cover;
  opacity: 0;
}

.agree_checkbox input:checked ~ .checkmark{
  opacity: 1;
}
.btn_create {
  width: 324px;
  height: 46px;
  background-color: #3cb878;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  font-size: 16px;
}
.btn_create:hover {
  background-color: #01813f;
}
